.form {
    max-width: 490px;
    margin: auto;
}

.btn {
    font-size: 16px;
    padding: 10px 25px;
}

.form__element {
    width: 390px;
}

.form__element__label {
    display: flex;
    justify-content: center;
    width: 150px;
}

.form-extended {
    max-width: 600px;
}

.form-extended .form__element {
    width: 440px;
}

.form-extended .form__element__label {
    width: 200px;
}

a, a:hover {
    color: white;
    text-decoration: none;
}

.alert {
    margin: auto;
    max-width: 400px;
    text-align: center;
}

.hidden {
    height: 0;
    overflow: hidden;
    padding: 0;
    border: 0;
}
