<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Jura&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/languages.css">
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/form.css">
</head>

<div th:fragment="languages" class="languages" xmlns:th="http://www.w3.org/1999/xhtml">
    <button type="button" class="btn btn-primary btn-language" value="en">EN</button>
    <button type="button" class="btn btn-secondary btn-language" value="ru">RU</button>
    <script type="text/javascript" src="/js/changeLanguage.js"></script>
</div>

<a th:fragment="logOut" href="/logout" class="logout" xmlns:th="http://www.w3.org/1999/xhtml">
    <button th:text="#{link.logOut}" type="button" class="btn btn-danger"></button>
</a>

<th:block th:fragment="signUpInputText"
     th:object="${user}"
     th:replace="fragments::signUpInput(type='text',
                                        label=${label},
                                        user=${user},
                                        field=${field},
                                        placeholder=${placeholder})"
     xmlns:th="http://www.w3.org/1999/xhtml"
></th:block>

<th:block th:fragment="signUpInputEmail"
     th:object="${user}"
     th:replace="fragments::signUpInput(type='email',
                                        label=${label},
                                        user=${user},
                                        field=${field},
                                        placeholder=${placeholder})"
     xmlns:th="http://www.w3.org/1999/xhtml"
></th:block>

<th:block th:fragment="signUpInputPassword"
     th:object="${user}"
     th:replace="fragments::signUpInput(type='password',
                                        label=${label},
                                        user=${user},
                                        field=${field},
                                        placeholder=${placeholder})"
     xmlns:th="http://www.w3.org/1999/xhtml"
></th:block>

<th:block th:fragment="signUpSelectRole"
     th:object="${user}"
     th:replace="fragments::signUpInput(type='select',
                                        label=${label},
                                        user=${user},
                                        field=${field},
                                        roles=${roles})"
     xmlns:th="http://www.w3.org/1999/xhtml"
></th:block>

<div th:fragment="signUpInput"
     class="form__element mb-3"
     th:object="${user}"
     xmlns:th="http://www.w3.org/1999/xhtml"
>
    <div class="input-group">
        <div class="input-group-prepend shadow-sm">
            <span class="form__element__label input-group-text" th:text="${label}"></span>
        </div>
        <th:block th:switch="${type}">
            <th:block th:case="'password'">
                <th:block th:replace="fragments::inputPassword(user=${user}, field=${field}, placeholder=${placeholder})"/>
            </th:block>
            <th:block th:case="'email'">
                <th:block th:replace="fragments::inputEmail(user=${user}, field=${field}, placeholder=${placeholder})"/>
            </th:block>
            <th:block th:case="'text'">
                <th:block th:replace="fragments::inputText(user=${user}, field=${field}, placeholder=${placeholder})"/>
            </th:block>
            <th:block th:case="'select'">
                <th:block th:replace="fragments::selectRole(user=${user}, field=${field}, roles=${roles})"/>
            </th:block>
        </th:block>
    </div>
</div>

<input th:fragment="inputText"
       th:object="${user}"
       type="text"
       th:field="*{__${field}__}"
       class="input form-control shadow-sm"
       th:placeholder="${placeholder}"
       required
       xmlns:th="http://www.w3.org/1999/xhtml"
/>

<input th:fragment="inputEmail"
       th:object="${user}"
       type="email"
       th:field="*{__${field}__}"
       class="input form-control shadow-sm"
       th:placeholder="${placeholder}"
       required
       xmlns:th="http://www.w3.org/1999/xhtml"
/>

<input th:fragment="inputPassword"
       th:object="${user}"
       type="password"
       th:field="*{__${field}__}"
       class="input form-control shadow-sm"
       th:placeholder="${placeholder}"
       required
       xmlns:th="http://www.w3.org/1999/xhtml"
/>

<select th:fragment="selectRole"
        th:object="${user}"
        th:field="*{__${field}__}"
        class="input custom-select"
        required
        xmlns:th="http://www.w3.org/1999/xhtml"
>
    <option th:each="role : ${roles}"
            th:value="${role}"
            th:text="${role.roleName}">
    </option>
</select>
