<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/form.css">
    </head>
    <body class="bg-light">
        <div id="mainContainer" class="container mt-5">
            <form id="form"
                  class="form d-flex flex-column align-items-center p-4 shadow"
                  data-url="/users/save"
            >
                <h2 class="mb-4">Sign Up</h2>
                <div class="form__element mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text"
                                  id="firstName_prepend"
                            >
                                First Name
                            </span>
                        </div>
                        <input type="text"
                               class="form-control shadow-sm"
                               name="firstName"
                               placeholder="First Name"
                               aria-describedby="firstName_prepend"
                               required
                        />
                    </div>
                </div>
                <div class="form__element mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text"
                                  id="lastName_prepend"
                            >
                                Last Name
                            </span>
                        </div>
                        <input type="text"
                               class="form-control shadow-sm"
                               name="lastName"
                               placeholder="Last Name"
                               aria-describedby="lastName_prepend"
                               required
                        />
                    </div>
                </div>
                <div class="form__element mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text"
                                  id="email_prepend"
                            >
                                Email
                            </span>
                        </div>
                        <input type="email"
                               class="form-control shadow-sm"
                               name="email"
                               placeholder="Email"
                               aria-describedby="email_prepend"
                               required
                        />
                    </div>
                </div>
                <div class="form__element mb-4">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text"
                                  id="role_prepend"
                            >
                                Role
                            </span>
                        </div>
                        <input type="text"
                               class="form-control shadow-sm"
                               name="role"
                               placeholder="Role"
                               aria-describedby="role_prepend"
                               required
                        />
                    </div>
                </div>
                <button type="submit" class="btn btn-success mb-4">
                    Submit
                </button>
                <a href="/">
                    <button type="button" class="btn btn-info">
                        To Login
                    </button>
                </a>
            </form>
        </div>
        <script type="text/javascript" src="/js/form.js"></script>
    </body>
</html>
