<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{signUp.label}"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/form.css">
    </head>
    <body class="bg-light">
    <th:block th:replace="fragments::languages"></th:block>
        <div class="container mt-5">
            <form id="form"
                  class="form d-flex flex-column align-items-center p-4 shadow"
                  data-url="/users/save"
            >
                <h2 th:text="#{signUp.label}" class="mb-4"></h2>
                <div class="form__element mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text"
                                  id="firstName_prepend"
                                  th:text="#{signUp.label.firstName}"
                            >
                            </span>
                        </div>
                        <input type="text"
                               class="form-control shadow-sm"
                               name="firstName"
                               th:placeholder="#{signUp.placeholder.firstName}"
                               aria-describedby="firstName_prepend"
                               required
                        />
                    </div>
                </div>
                <div class="form__element mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text"
                                  id="lastName_prepend"
                                  th:text="#{signUp.label.lastName}"
                            >
                            </span>
                        </div>
                        <input type="text"
                               class="form-control shadow-sm"
                               name="lastName"
                               th:placeholder="#{signUp.placeholder.lastName}"
                               aria-describedby="lastName_prepend"
                               required
                        />
                    </div>
                </div>
                <div class="form__element mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text"
                                  id="email_prepend"
                                  th:text="#{signUp.label.email}"
                            >
                            </span>
                        </div>
                        <input type="email"
                               class="form-control shadow-sm"
                               name="email"
                               th:placeholder="#{signUp.placeholder.email}"
                               aria-describedby="email_prepend"
                               required
                        />
                    </div>
                </div>
                <div class="form__element mb-4">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text"
                                  id="role_prepend"
                                  th:text="#{signUp.label.role}"
                            >
                            </span>
                        </div>
                        <input type="text"
                               class="form-control shadow-sm"
                               name="role"
                               th:placeholder="#{signUp.placeholder.role}"
                               aria-describedby="role_prepend"
                               required
                        />
                    </div>
                </div>
                <button th:text="#{signUp.button.submit}" type="submit" class="btn btn-success mb-4">
                </button>
                <a href="/">
                    <button th:text="#{signUp.button.signIn}" type="button" class="btn btn-info">
                    </button>
                </a>
            </form>
            <div id="alert-success" th:text="#{alert.success}" class="alert alert-success mt-4"></div>
            <div id="alert-error" th:text="#{alert.error}" class="alert alert-danger mt-4"></div>
        </div>
        <script type="text/javascript" src="/js/form.js"></script>
    </body>
</html>
