<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments::head(title='Sign Up')"></head>
    <body class="bg-light">
        <th:block th:replace="fragments::languages"></th:block>
        <div class="container mt-5">
            <div class="alert alert-danger mb-4" th:text="#{signUp.duplicate}" th:if="${duplicate}"></div>
            <form action="#" th:action="@{/newuser}" th:object="${user}" method="post"
                  class="form form-extended d-flex flex-column align-items-center p-4 shadow"
            >
                <h2 th:text="#{signUp.label}" class="mb-4"></h2>
                <div class="form__element mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text" th:text="#{signUp.label.firstName}"></span>
                        </div>
                        <input type="text"
                               th:field="*{firstName}"
                               class="input form-control shadow-sm"
                               th:placeholder="#{signUp.placeholder.firstName}"
                               required
                        />
                    </div>
                </div>
                <div class="form__element mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text" th:text="#{signUp.label.firstNameNative}"></span>
                        </div>
                        <input type="text"
                               th:field="*{firstNameNative}"
                               class="input form-control shadow-sm"
                               th:placeholder="#{signUp.placeholder.firstNameNative}"
                               required
                        />
                    </div>
                </div>
                <div class="form__element mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text" th:text="#{signUp.label.lastName}"></span>
                        </div>
                        <input type="text"
                               th:field="*{lastName}"
                               class="input form-control shadow-sm"
                               th:placeholder="#{signUp.placeholder.lastName}"
                               required
                        />
                    </div>
                </div>
                <div class="form__element mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text" th:text="#{signUp.label.lastNameNative}"></span>
                        </div>
                        <input type="text"
                               th:field="*{lastNameNative}"
                               class="input form-control shadow-sm"
                               th:placeholder="#{signUp.placeholder.lastNameNative}"
                               required
                        />
                    </div>
                </div>
                <div class="form__element mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text" th:text="#{signUp.label.email}"></span>
                        </div>
                        <input type="email"
                               th:field="*{email}"
                               class="input form-control shadow-sm"
                               th:placeholder="#{signUp.placeholder.email}"
                               required
                        />
                    </div>
                </div>
                <div class="form__element mb-4">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text" th:text="#{signUp.label.role}"></span>
                        </div>
                        <select th:field="*{role}" class="input custom-select">
                            <option th:each="role : ${roles}"
                                    th:value="${role}"
                                    th:text="${role.roleName}"
                            ></option>
                        </select>
                    </div>
                </div>
                <div class="form__element mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text" th:text="#{signUp.label.username}"></span>
                        </div>
                        <input type="text"
                               th:field="*{username}"
                               class="input form-control shadow-sm"
                               th:placeholder="#{signUp.placeholder.username}"
                               required
                        />
                    </div>
                </div>
                <div class="form__element mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend shadow-sm">
                            <span class="form__element__label input-group-text" th:text="#{signUp.label.password}"></span>
                        </div>
                        <input type="password"
                               th:field="*{password}"
                               class="input form-control shadow-sm"
                               th:placeholder="#{signUp.placeholder.password}"
                               required
                        />
                    </div>
                </div>
                <button th:text="#{signUp.button.submit}" type="submit" class="btn btn-success mb-4 mt-3"></button>
                <a href="/login">
                    <button th:text="#{link.logIn}" type="button" class="btn btn-info"></button>
                </a>
            </form>
        </div>
    </body>
</html>
